@font-face { 
	font-family: 'neotechalt-webfont'; 
	src: url('../fonts/neotechalt-webfont.eot'); 
	src: url('../fonts/neotechalt-webfont.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/neotechalt-webfont.ttf') format('truetype'), 
	url('../fonts/neotechalt-webfont.woff') format('woff'), 
	url('../fonts/neotechalt-webfont.svg#ge_ss_two_medium-webfont') format('svg'); 
	font-weight: normal; 
	font-style: normal; 
}
@media all and (max-width: 1920px){
	.navbar{
		position: absolute;
		margin-top: 88px;
		
    
	}
	.navbar-inverse{
	background-color: transparent;
    }
    .nav-line{
	border-bottom: 1px solid #fff;
    }

}  
@media all and (max-width: 768px){

	.navbar{
		position: static;
		background-color: #000;
		margin-top: 0px;
	}
    .nav-line{
	border-bottom: 0px solid #fff;
    }
	.navbar-inverse {
		
		background-color: #000;
		margin-top: 0px;
	}
    .navbar-toggle{
    	margin-right: 30px;
    }

    .more-button{
    	visibility: hidden;
    }
    .blue-border{
    	width: 100%;

    }
   
}

*{
	font-family: 'neotechalt-webfont';
}


.navbar {
	   
    margin-bottom: 0px;
}

.navbar-inverse{
	width: 100%;
	border: 0px;
}
.in{
	background:rgba(0,0,0,0.8);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: transparent;
}

.nav-line a:hover{
	border-bottom: 1px solid #fff;
}
.navbar-brand img{
	width: 70%;

}

.navbar-right{
	margin-right: 20px;

}



/* CUSTOMIZE THE CAROUSEL */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.carousel, .item, .active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.carousel {
	margin-bottom: 60px;
}

.carousel-caption {
	z-index: 10;
	padding-bottom: 230px;
}
.carousel-caption h1{
	margin-bottom: 60px;
	font-weight: bold;	

}
.carousel-caption p{
	line-height: 170%;
	font-size: 20px;
}
.more-button{
  width: 5%;
  margin-top: 20px;
}

.carousel .carousel-inner .bg {
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel .carousel-inner .bg1 {
	
	background-position: center top;
}

.carousel .carousel-inner .bg2 {
	background-image: url(../img/caeousel-1.jpg);
	background-position: center center;
}

.carousel .carousel-inner .bg3 {
	background-image: url(../img/caeousel-1.jpg);
	background-position: center bottom;
}

.title-row{
	margin-bottom:66px !important; 
}

.title-what{
	margin: -20px 0; 
}

.text-center{
	font-size: 36px;
	color: #1aa5e0;
	
}

.white-line{

	width: 100%;
	margin: 20px auto 15px;
	position: relative;
	height: 1px;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateZ(0) scale(1, 1);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%)
}

.black-line{

	width: 100%;
	margin: 20px auto 15px;
	position: relative;
	height: 1px;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateZ(0) scale(1, 1);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%)
}
.rack-what{
	margin-bottom: 63px;
}
.ractivity-video{
	border: 1px solid #000;
	margin: auto;
	display: block;
	padding: 13px;
	text-align: center;
	max-width: 472px;
}

.ractivity-image{
	border: 1px dotted #ccc;
	
	margin: auto;
    text-align: center;
}
.power{
	margin-top: 30px;
	margin-bottom: 22px;
	font-weight: bold;
}
.power-list{
	margin-top: 30px;
	padding-left: 16px;
	margin-bottom: 30px; 
}

.ourproducts-title{
	margin-top: 65px !important;
	margin-bottom: 50px !important;
}
.product-header{
	margin-top: -40px;
}
#blue-product{
	background-image: url(../img/products-background_02.jpg);
	color: #fff;	
}

.text-products{
	color: #fff;
	text-align: center;
	font-size:  36px;
}
.main-product{
	margin-bottom: 70px;

}
.product-all{
	text-align: center;
}
.product-all img{
	margin-bottom: 15px;
}
 .product-all  h4{
	text-align: left;
	font-size: 16px;
	font-weight: bold;
}
 .product-all p{
	text-align: left;
	font-size: 14.3px;
}

.solutions-bg{ 
	background-image:url(../img/solution-BG_02.png); 

}
.solutions-header{
	margin-bottom: 60px;
    margin-top:45px; 
}   

.solutions-title{
	text-align: center;
	font-size: 36px;
	color: #1aa5e0;
}

.blue-border{
	background-image: url(../img/products-background_02.jpg);
	border-radius: 5px;
	color: #ffffff;
	height: 300px;
	
	margin: 6px auto;
	padding: 20px 15px 0 15px;
}


.icon{

margin-top: 20px;
margin-bottom:25px;

}

.panals-size{
	margin-bottom: 100px;
}


.panel-header{
	font-size: 16px;
	font-weight: bold;
	margin: 38px 0 11px 0;
}

.blue-border p{
	/* margin-left: 12px; */
	/* text-align: left; */
	font-size: 14.3px;
}

.circle-bg{
	border-radius: 100%;
	width: 80px;
	height: 80px;
	border: 3px solid #fff;
	text-align: center;
	position: relative;
	margin-bottom: 30px;
	margin: 0 auto;
}   
.symbol{
	
	font-size: 30px !important;
	margin:22px;

}


.gray-contant{
	background-color:#f1f1f1;
}   

.gray-header{
	font-size: 16px;
	font-weight: bold;
	color: #515151;
	margin-top: 40px;

}


.gray-menu li{
	line-height:40px;
	margin-left: -23px; 
}

.menu-unlist li{
	line-height:40px;
	margin-left: -23px;
	list-style-type: none; 

}
.social-network{
	padding-left: 6px;
	font-size: 21px;
	margin-top: 22px;

}
.social-network li{
	list-style-type: none;
	display: inline;
	
}

.phone-mail{
	margin-top: 22px;
	margin-bottom: 10px;
}

.adress{
	margin-bottom: 10px;
}





.btn{
    background-color: transparent;
     
}
.title-row {
	margin-bottom: 81px;
	margin-top: 54px;
	
}


.icon.default-bg{
	background-color: transparent;
	color:#ffffff;
	border: 2px solid #ffffff;
}


    

.footer{
	background-color: #515151;
}
.footer-text{
	text-align: center;
	color: #fff;
	margin: 20px 0;
	
	font-weight: bold;
}



 