http://www-racktivity.aydo.com:8999 {
    bind 0.0.0.0
    gzip
    root www.racktivity.com
    git {
       repo git@github.com:racktivity/www-racktivity.git
       interval 300
       key ../keys/id_rsa
       path ../
       hugo -s www.racktivity.com'
    }
}
