http://www.racktivity.aydo.com:5050  http://racktivity.aydo.com:5050 {
    bind 0.0.0.0
    gzip
    root www.racktivity.com/en
    git {
       repo git@github.com:racktivity/www-racktivity.git
       interval 300
       branch production
       key ../keys/id_rsa
       path ../..
       then /bin/bash -c 'grunt ; hugo -s www.racktivity.com'
    }
}
