http://gig-hypergrid:8347 {
    bind 0.0.0.0
    gzip
    root www.racktivity.com
    git {
       repo git@git.aydo.com:static-websites/www-new-racktivity.git
       interval 300
       key ../keys/id_rsa
       path ../
       then ./hugo-init
    }
}
