{{ range $element :=  .Data.Pages }}
{{ if eq .Section "home" }}
{{ if eq .Title "product" }}
<section class="Product-part">
  <div class="container">
    <div class="row">
      <div class="col-md-12 product-title">
        <div class="product-header">
          <h2>{{.Params.section_title}}</h2>
          <p>{{.Params.section_disc}}</p>
        </div>
      </div>
      <div class="col-md-6 text-center box-product">
      <a href="{{.Params.product1_link}}">
        <div class="product-icon"> <i class="{{.Params.product1_icon}}"></i> </div>
        <div class="product-panel">
          <h4>{{.Params.product1_title}}</h4>
          <p>{{.Params.product1_disc}}</p>
        </div>        
      </a>
      </div>
      <div class="col-md-6 text-center box-product">
      <a href="{{.Params.product2_link}}">
        <div class="product-icon"> <i class="{{.Params.product2_icon}}"></i> </div>
        <div class="product-panel">
          <h4>{{.Params.product2_title}}</h4>
          <p>{{.Params.product2_disc}}</p>
        </div>
        </a>
      </div>
      <div class="col-md-6 text-center box-product">
      <a href="{{.Params.product3_link}}">
        <div class="product-icon"> <i class="{{.Params.product3_icon}}"></i> </div>
        <div class="product-panel">
          <h4>{{.Params.product3_title}}</h4>
          <p>{{.Params.product3_disc}}</p>
        </div>
        </a>
      </div>
      <div class="col-md-6 text-center box-product">
      <a href="{{.Params.product4_link}}">
        <div class="product-icon"> <i class="{{.Params.product4_icon}}"></i> </div>
        <div class="product-panel">
          <h4>{{.Params.product4_title}}</h4>
          <p>{{.Params.product4_disc}}</p>
        </div>
        </a>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
{{end}}