
		<!--	<section id="product">
				<div class="container">
				{{ range $element :=  .Data.Pages }}
	                {{ if eq .Section "home" }}
	                    {{ if eq .Title "product" }}
					<header class="text-center">
						<h2>{{ .Params.header }}</h2>
						<p class="lead">{{ .Params.summary }}</p>
						<div class="divider half-margins onepage center">						
						</div>
					</header>



					<div class="row">
						<div class="col-md-4">
							<div class="featured-box noborder">							

								<i class="fa PB"><img src="/images/PB.png"></i>
								<h4>{{ .Params.block1_title_strong }}</h4>
								<p>{{ .Params.block1_text }}</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="featured-box noborder">							

								<i class="fa HC"><img src="/images/HC.png"></i>
								<h4>{{ .Params.block2_title_strong }}</h4>
								<p>{{ .Params.block2_text }}</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="featured-box noborder">						

								<i class="fa HD"><img src="/images/HD.png"></i>
								<h4>{{ .Params.block2_title_strong }}</h4>
								<p>{{ .Params.block2_text }}</p>
							</div>
						</div>						
					</div>


							




<!-- Content Block
      ============================================ -->

{{ range $element :=  .Data.Pages }}
{{ if eq .Section "home" }}
{{ if eq .Title "product" }}
      <section class="Product-part">
  <div class="container">
    <div class="row">
      <div class="col-md-12 product-title">
        <div class="product-header">
          <h2>OUR PRODUCT</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim <br />
            expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero <br />
            accusantium esse hic, obcaecati, ullam, laboriosam!</p>
        </div>
      </div>
      <div class="col-md-6 text-center box-product">
        <div class="product-icon"> <i class="fa fa-server"></i> </div>
        <div class="product-panel">
          <h4>Rack power management</h4>
          <p>Racktivity EnergySwitch Smart PDUs equips your data center with the industry’s most advanced metering and switching capability.</p>
        </div>
      </div>
      <div class="col-md-6 text-center box-product">
        <div class="product-icon"> <i class="fa fa-server"></i> </div>
        <div class="product-panel">
          <h4>Rack power management</h4>
          <p>Racktivity EnergySwitch Smart PDUs equips your data center with the industry’s most advanced metering and switching capability.</p>
        </div>
      </div>
      <div class="col-md-6 text-center box-product">
        <div class="product-icon"> <i class="fa fa-server"></i> </div>
        <div class="product-panel">
          <h4>Rack power management</h4>
          <p>Racktivity EnergySwitch Smart PDUs equips your data center with the industry’s most advanced metering and switching capability.</p>
        </div>
      </div>
      <div class="col-md-6 text-center box-product">
        <div class="product-icon"> <i class="fa fa-server"></i> </div>
        <div class="product-panel">
          <h4>Rack power management</h4>
          <p>Racktivity EnergySwitch Smart PDUs equips your data center with the industry’s most advanced metering and switching capability.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
{{end}}