
{{ range $element :=  .Data.Pages }}
{{ if eq .Section "home" }}
{{ if eq .Title "second_section" }}
<section class="container-fluid media-part">
  <div class="row">
    <div class="col-md-6 video-side nopadding">
      <div class="media"> <a href="#"><img src="images/media.jpg"></a> </div>
    </div>
    <div class="col-md-6 black-part nopadding">
      <div class="about-us">
        <h4 class="small-header">LITTLE ABOUT US</h4>
        <h2 class="big-header">ABOUT RACKTIVITY PRODUCT</h2>
        <div class="sperator"></div>
        <p class="media-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>
        <div class="blue-part">
          
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam! </p>

         
        </div>
        <span class="shape-text"></span>
      </div>
      <div class="optimize"> <strong>OPTIMIZED FOR MOBILE & TOUCH</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
    </div>
  </div>
</section> 
					
{{ end }}
{{ end }}
{{ end }}
