{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}
{{if eq .Section "news"}}
  <style type="text/css">
    img{float: left;margin-right: 20px;margin-bottom: 20px;margin-top: 0px;}
    p{text-align: justify;}
  </style>
{{end}}
{{ if eq .Title "Company" }}
  <style type="text/css">
    .content-text img { float: right; display: block; margin-left: 57px; margin-top: 4px; margin-bottom: 41px; clear: both;max-width: 185px;}
    .content-text p{ text-align: justify;}
  </style>
{{ end }}

{{ if eq .Title "Support" }}
  <style type="text/css">
    p a img {height: 130px; margin-bottom: 40px;}
    p a {float: left;margin-left: 20px;}
  p img{}
  .content-text p{line-height: 21px;}
  hr{ margin-top: 40px;}
  </style>
{{ end }}

{{ if eq .Title "Contact" }}
  <style type="text/css">
  form input, form select, form textarea { margin: 10px 0}
.office { float: right;}
#contact-form {margin-bottom: 20px;float: left; display: inline-block;}
#contact-form input[type="text"], #contact-form input[type="password"], #contact-form input[type="email"], #contact-form textarea, #contact-form select {    }
label, legend {display: block;font-weight: bold;font-size: 13px;}
.content-text ul{font-size: 16px; color:#34A4DE;}

  </style>
{{ end }}
{{ if eq .Title "ACL Slave" }}
  <style type="text/css">
  table td{padding-right: 30px;}
  </style>
{{ end }}
{{ if eq .Title "ACLD Display" }}
  <style>
  table td{padding-right: 30px;}
  </style>
{{ end }}
{{ if eq .Title "Partners" }}
  <style>
  p img{float: right;}
  </style>
{{ end }}
{{ if eq .Title "Data center floor plan" }}
  <style>
  .content-text p a{margin-right:20px;}
  </style>
{{ end }}

<section class="page-disc" style="background: url({{.Params.section_pic}}) center center no-repeat">
<div class="container">
  <div class="row">
    <div class="col-md-12"><h1>{{.Title}}</h1>
      <p>
        {{.Params.page_disc}}
      </p>
    </div>
  </div>
</div>

</section>
<section class="bred-crum">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="#">Home</a></li>
          {{ if eq .Section "post" }}
          <li><a href="#">{{.Title}}</a></li>
          {{ else }}
          <li><a href="#">{{title .Section}}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

  <section class="content" style="padding-bottom: 50px;">
  <div class="container">
    <div class="row">
    {{ if ne .Section "news" }}
    {{ if ne .Section "post" }}
    {{if ne .Params.hide_menu "True"}}
      <div class="col-md-4 section-side">
        <h1 class="section-title">{{title .Section}}</h1>
        <ul>

          {{ if eq .Section "products" }}
          {{ $currentParent := replace .RelPermalink .Params.real_link "" }}
                    {{ $currentParent := replace $currentParent .Section "" }}
                    {{ $currentParent := replace $currentParent "/" "" }}

                    {{ $cleancurrentParent := replace $currentParent "-" " " }}
                    {{ $cleancurrentParent := title $cleancurrentParent }}

                    {{ $currentParenLink := replace .RelPermalink .Params.real_link "" }}
                  <li class="collapsed"><a href="{{$currentParenLink}}">{{$cleancurrentParent}}</a>
                    <ul class="menu">
                      {{ range sort .Site.Pages ".Weight" }}
                        {{ if eq .Section "products" }}
                          {{ if eq .Params.parent $currentParent }}
                            <li class="collapsed">
                              <a href="{{.RelPermalink}}">
                                {{ .Title }}
                              </a>
                            </li>
                          {{end}}
                        {{end}}
                      {{end}}
                    </ul>
                  </li>
                  {{ range $element := .Site.Pages }}
                  {{ if eq .Section "products" }}
                    {{ if eq .Params.parent "top" }}
                    {{ $currentParenLink := replace $currentParenLink "//" "/" }}
                      {{if ne $element.RelPermalink $currentParenLink }}
                        <li class="collapsed"><a href="{{$element.RelPermalink}}">{{$element.Title}}</a></li>
                      {{end}}
                    {{end}}
                  {{ end }}
                  {{ end }}
                </ul>
                {{ else }}
            {{ range $element := where .Site.Pages "Section" .Section }}
             <li><a href="{{ $element.RelPermalink }}">{{ $element.Title }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ end }}
    {{ end }}
      <div class="col-md-{{ if or (eq .Section "post") (eq .Section "news") }}12{{else}}8{{end}} content-text">
        <h1>
          {{ .Title }}
        </h1>
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>




{{ partial "footer.html" . }}
</body>
</html>
