{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}
<section class="page-disc" style="background: url({{.Params.section_pic}}) center center no-repeat">
<div class="container">
  <div class="row">
    <div class="col-md-12"><h1>{{.Title}}</h1>
      <p>
        {{.Params.page_disc}}
      </p>
    </div>
  </div>
</div>

</section>
<section class="bred-crum">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">{{title .Section}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 section-side">
        <h1 class="section-title">{{title .Section}}</h1>
        <ul>
          {{ range $element := where .Site.Pages "Section" .Section }}
	         <li><a href="{{ $element.RelPermalink }}">{{ $element.Title }}</a></li>
	        {{ end }}
        </ul>
      </div>
      <div class="col-md-9 content-text">
        <h1>
          {{ .Title }}
        </h1>
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
