{{ range $element :=  $.Site.Pages }}
{{ if eq .Section "home" }}
{{ if eq .Title "footer_box" }}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="quiq-links">
          <h3 class="footer-header">{{.Params.links_title}}</h3>
          <ul class="menu-footer">
            <li><a href="/solutions/data-centers/">Data Centers</a></li>
            <li><a href="/solutions/enterprises-banks-academic-world-hospitals-industrial-companies/">Enterprises</a></li>
            <li><a href="/solutions/service-providers-telco-operators-mobile-operators-cable-operators-satellite-operators-0/">Service Providers</a></li>
            <li><a href="/solutions/system-integrators/">System Integrators</a></li>
            <li><a href="/products/environmental-management/">Environmental management</a></li>
            <li><a href="/products/infrastructure-power-management/">Infrastructure power management</a></li>
            <li><a href="/products/power-management-software/">Power management software</a></li>
            <li><a href="/products/rack-power-management/">Rack power management</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="quiq-links">
          <h3 class="footer-header">Contact us</h3>
          <h3>{{.Params.contact_title}}</h3>
          <p>{{.Params.contact_address}}</p>
          <br>
          <span><strong>Phone:</strong>{{.Params.contact_phone}}</span> <span><strong>Email:</strong>{{.Params.contact_email}}</span> </div>
      </div>
      
    </div>
    <div class="row copyright">
      <div class="footer-side"></div>
      <div class="col-md-6 nopadding copy-text">{{.Params.copyright}} </div>
      <div class="col-md-6 links"> <span class="footer-shape"></span>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/company/">Company</a></li>
          <li><a href="/support/support">Support</a></li>
          <li><a style="padding-right: 0" href="/contact/">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/general.js"></script>

  <!-- TODO rename js files and take them from local -->
  <script type="text/javascript" src="/js/overlay1.js"></script>
  <script type="text/javascript" src="/js/overlay2.js"></script>
  <script type="text/javascript" src="/js/overlay3.js"></script>
  <script type="text/javascript" src="/js/overlay4.js"></script>
{{end}}
{{end}}
{{end}}