{{ range $element :=  $.Site.Pages }}
{{ if eq .Section "home" }}
{{ if eq .Title "header" }}
<header>
  <div class="container">
    <div class="row">
      <div class="right-black"></div>
      <div class="col-md-5 col-md-offset-4 why-menu-wrap"> <span class="shape"></span>
        <ul class="whyus-menu">
          <li><a href="{{.Params.black_link1}}"> {{.Params.black_title1}} </a></li>
          <li><a href="{{.Params.black_link2}}">{{.Params.black_title2}}</a></li>
          <li><a href="{{.Params.black_link3}}">{{.Params.black_title3}}</a></li>
          <li><a href="{{.Params.black_link5}}">{{.Params.black_title5}}</a></li>
          <li><a href="{{.Params.black_link4}}">{{.Params.black_title4}}</a></li>
        </ul>
      </div>
      <!-- <div class="col-md-3">
        <div class="search-wrap text-center">
          <input class="search-box" type="text" placeholder="Search.."><a class="search-icon" href="#"><i class="fa fa-search"></i></a>
        </div>
      </div> -->
     <!--  <div class="col-md-4 social-menu-wrap">
        <ul class="social">
          <li><a href="{{.Params.social_link1}}"><i class="fa fa-{{.Params.social_icon1}}"></i></a></li>
          <li><a href="{{.Params.social_link3}}"><i class="fa fa-{{.Params.social_icon3}}"></i></a></li>
        </ul>
      </div> -->
    </div>
  </div>
  <div class="container logo-row">
    <div class="row">
      <div class="col-md-4"><a href="{{.Params.logo_link}}"><img src="{{.Params.logo_pic}}"></a></div>
      <div class="col-md-4">
        <ul class="callus-menu">
          <li><span>{{.Params.contact_title1}}</span>{{.Params.contact_text1}}</li>
          <li><span>{{.Params.contact_title2}}</span><a class="email-link" href="mailto:sales@racktivity.com">{{.Params.contact_text2}}</a></li>

        </ul>
      </div>
      <div class="col-md-4 mobile-center">

        <a href="http://www.greenitglobe.com" target="_blank"><img class="right-logo" src="/images/greenitglobe.png"></a>
      </div>
    </div>
    <div class="row menu-row">
      <div class="right-blue"></div>
      <div class="col-md-12">
        <div class="main-menu"> <span class="shape-blue"></span>
          <nav class="navbar navbar-default">
            <div class="container-fluid-">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                  <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solutions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {{ range $element := where .Site.Pages "Section" "solutions" }}
                     <li><a href="{{ $element.RelPermalink }}">{{ $element.Title }}</a></li>
                    {{ end }}
                     <!-- <li><a href="/solutions/data-centers/">Data Centers</a></li>
                      <li><a href="#">Enterprises</a></li>
                      <li><a href="#">Service Providers</a></li>
                      <li><a href="#">System Integrators</a></li>-->
                    </ul>
                  </li>
                  <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Products <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      {{ range $element := where .Site.Pages "Section" "products" }}
                        {{ if eq .Params.parent "top" }}
                          <li><a href="{{ $element.RelPermalink }}">{{ $element.Title }}</a></li>
                       {{ end }}
                    {{ end }}
                    </ul>
                  </li>
                  <!-- <li> <a href="javascript:void(0);">Downloads</a></li> -->
                  <li> <a href="/company/">Company </a></li>
                  <li> <a href="/support">Support </a></li>
                  <li> <a href="/news/">News </a></li>
                  <li> <a style="padding-right: 0;" href="/contact/">Contact</a></li>
                </ul>
              </div>

              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
{{end}}
{{end}}
{{end}}
