@font-face { font-family: 'neotechalt-webfont'; src: url('../fonts/neotechalt-webfont.eot'); src: url('../fonts/neotechalt-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/neotechalt-webfont.ttf') format('truetype'),  url('../fonts/neotechalt-webfont.woff') format('woff'),  url('../fonts/neotechalt-webfont.svg#ge_ss_two_medium-webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'neotechalt-bold'; src: url('../fonts/neotechalt_bold-webfont.eot'); src: url('../fonts/neotechalt_bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/neotechalt_bold-webfont.ttf') format('truetype'),  url('../fonts/neotechalt_bold-webfont.woff') format('woff'),  url('../fonts/neotechalt_bold-webfont.svg#ge_ss_two_medium-webfont') format('svg'); font-weight: normal; font-style: normal; }
body { font-family: 'neotechalt-webfont'; }
ul { padding: 0; margin: 0; }
a { color: #FFF; }
a:hover { color: #FFF; }
header { border-top: 6px solid #333 }
header a { color: #FFF; }
.whyus-menu { padding: 0; }
.whyus-menu li { list-style: none; display: inline-block; }
.whyus-menu li a { padding: 8px 6px 12px 12px; display: block; font-size: 12px; }
.social { padding: 0; float: right; }
.social li { list-style: none; display: inline-block; }
.social li a { padding: 6px 5px; display: block; }
.right-black { position: absolute; right: 0; top: 0; width: 50%; height: 43px; background: #333; display: inline-block; }
.why-menu-wrap { position: relative; background: #333; }
.logo-row {  margin-top: 30px;}
.callus-menu { padding: 0; margin-top: 5px; }
.pdf-button { float: right; background: #21a6df; border: 0; padding: 8px 21px; color: #FFF; font-size: 14px; font-family: 'neotechalt-bold'; margin: 5px 0 0 0; }
.callus-menu li { display: inline-block; font-size: 11px; padding: 0px 10px; border-left: 1px solid #eeeeee; }
.callus-menu li:first-child { border: 0; }
.callus-menu li span { display: block; color: #666; }
.shape { position: absolute; height: 39px; width: 37px; background-color: #333333; top: -2px; left: -13px; -webkit-transform: skew(31deg); transform: skew(31deg); }
.main-menu .navbar { background: #21a6df; border: 0; border-radius: 0; min-height: auto; margin: 0; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #333; background: transparent; }
.navbar-default .navbar-nav > li > a { color: #FFF; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { color: #333; background-color: transparent; }
.main-menu .nav > li > a { position: relative; display: block; padding: 14px 39px; font-size: 15px; font-family: 'neotechalt-bold'; background: url(../images/menu-seperate.png) no-repeat 0px center; }
.shape-blue { display: inline-block; position: absolute; width: 37px; height: 48px; background: #21A6DF; left: 2px; -webkit-transform: skew(-26deg); transform: skew(-26deg); }
.main-menu .navbar-collapse { padding-left: 0; }
.right-blue { position: absolute; background: #21A6DF; width: 50%; right: 0; height: 48px; }
.menu-row { margin-top: 31px; }
.arrow-slider { position: absolute; top: 46%; z-index: 5; display: inline-block; margin-top: -10px; left: 37%; }
.carousel-control { background-image: none !important; }
/*css-new*/
.services { background-image: url(../images/Services.jpg); padding-bottom: 43px; }
.css-shapes-preview { position: relative; height: 0px; left: -15px; -webkit-transform: rotate(0deg) skew(0deg); transform: rotate(0deg) skew(0deg); border-top: 171px solid #21a6df; border-left: 130px solid transparent; border-right: 130px solid transparent; border-bottom: 0px transparent; }
.services-header { text-align: center; color: #fff; position: absolute; top: -153px; left: 0; width: 100%; }
.services-prag { font-size: 18px; }
.services-title { font-size: 35px; font-family: 'neotechalt-bold'; }
.top-left { position: relative; border: 2px solid #f5f5f5; border-right: 4px solid #f5f5f5; margin-top: 84px; height: 290px; background-color: #fff; padding-right: 0px; margin-right: 27px; }
.top-left:hover { background-color: #f7f7f7; border: 2px solid #00ABE1; border-right: 4px solid #00ABE1; }
.top-left:hover .panel-shape { background: url(../images/serv-blue.png) no-repeat; }
.top-left:hover .panel-shape .fa-server { color: #fff; }
.top-left p { font-size: 14px; margin-left: 107px; margin-top: 17px; margin-right: 33px; line-height: 27px; color: #5a5a5a; height: 162px; overflow: hidden; }
.top-left h4 { font-size: 16px; margin-left: 107px; font-family: 'neotechalt-bold'; margin-top: 40px; color:#21a6df; }
.top-left:hover h4 { color:#2f2f2f; }
.panel-shape { position: absolute; width: 101px; top: 48px; left: -13px; bottom: 13px; height: 88px; background: url(../images/serv-white.png) no-repeat; }
.panel-shape .fa-server { color: #21a6df; text-align: center; font-size: 30px !important; margin: 30px 27px; }
.Product-part { background-image: url(../images/product-BG.jpg); padding: 30px 0 120px 0; }
.footer { background-color: #212121; font-size: 16px; position: relative; }
.media-part { background-color: #212121; }
.black-part { background-color: #212121; }
.about-us { position: relative; color: #fff; margin-top: 76px; margin-left: 81px; height: 382px; padding-bottom: 164px; }
.small-header { margin-top: 44px; color: #b1b1b1; font-size: 15px; }
.big-header { color: #d7dadc; font-size: 29px; }
.blue-part { position: absolute; background-color: #21a6df; color: #e6e6e6; font-size: 17px; width: 510px; height: 152px; padding: 11px 24px; top: 284px; overflow: hidden; line-height: 27px; }
.optimize { background-color: #f0f4f7; width: 100%; height: 205px; font-size: 15px; color: #838383; padding: 100px 0 38px 80px; overflow: hidden; }
.optimize strong { color: #24303a; display: block; font-family: 'neotechalt-bold'; font-weight: normal; }
.nopadding { padding: 0 !important; margin: 0 !important; }
.media-text { color: #b1b1b1; font-size: 15px; width: 524px; margin: 0 0; line-height: 24px; }
.media a img { width: 100%; }
.sperator { background: #21a6df; width: 42px; height: 1px; margin: 9px 0 20px 0; }
.product-header { text-align: center; color: #FFF; font-size: 18px; }
.product-header h2 { background: url(../images/title-line.png) center bottom no-repeat; padding: 20px 0 15px 0; font-size: 35px; font-family: 'neotechalt-bold'; }
.product-panel { padding: 0 120px; line-height: 24px; color: #FFF; }
.box-product { padding: 24px 0; border: 1px solid #FFF; }
.product-panel h4 { font-size: 16px; font-family: 'neotechalt-bold'; }
.product-panel p { font-size: 14px; }
.product-icon { background: url(../images/icon-wrap-white.png) no-repeat center center; padding: 45px 0; height: 118px; }
.product-icon i { font-size: 30px; color: #FFF; }
.product-title { margin: 0 0 70px 0; }
.box-product:hover { background: url(../images/product1-blur.jpg) no-repeat center center;/*-webkit-filter: blur(5px);-moz-filter: blur(5px);-o-filter: blur(5px);-ms-filter: blur(5px);filter: blur(5px);*/ background-size: 100% 100%; }
.box-product:hover .product-icon { background: url(../images/icon-wrap-blue.png) no-repeat center center; }
.box-product:hover .product-icon i { color: #67b5ff; }
.box-product:hover h4 { color: #88c5ff; }
.footer-header { color: #FFF; font-size: 18px; font-family: 'neotechalt-bold'; background: url(../images/footer-title.png) left bottom no-repeat; padding: 0 0 11px 0; }
.quiq-links { margin: 40px 0; height: 180px; color: #636363; font-size: 16px; }
.menu-footer { list-style: none; }
.menu-footer li { width: 173px; display: inline-block; }
.menu-footer li a { padding: 10px 0; display: block; text-decoration: none; border-bottom: 1px solid #343434; margin: 0 14px 0 0; color: #7a7a7a; font-size: 16px; }
.footer-header + h3 { color: #FFF; font-size: 16px; font-family: 'neotechalt-bold'; }
.quiq-links span { display: block; margin: 0 0 0 0; }
.quiq-links span strong {  font-family: 'neotechalt-bold'; font-weight: normal; }
.quiq-links p { line-height: 25px; }
.footer-info { margin: 44px 0 0 0; }
.footer-button { background:#454545; font-size: 15px; color: #FFF; text-align: center; width: 100%; border: 0; padding: 10px 0; font-family: 'neotechalt-bold'; margin: 30px 0 0 0; }
.links { background: #454545; padding: 18px 0; }
.links ul li { display: inline; }
.links ul li a { padding: 0 32px; }
.copyright { margin: 40px 0 0 0; }
.footer-side { position: absolute; right: 0; bottom: 0; width: 50%; height: 58px; background: #454545; display: inline-block; }
.footer-shape { display: inline-block; position: absolute; width: 44px; height: 58px; background: #454545; left: -29px; -webkit-transform: skew(-26deg); transform: skew(-26deg); top: 0px; }
.copy-text { line-height: 58px; color: #7a7a7a; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border: 0; }
.carousel-caption { text-align: left; top: 0; padding-top: 70px; }
.carousel-caption h1 { color: #21a6df; font-family: 'neotechalt-bold'; text-shadow: none; font-size: 36px; }
.carousel-caption h4 { font-size: 26px;color: #4c4c4c;text-shadow: none;max-width: 690px;line-height: 34px;margin: 15px 0 11px 0;}
.carousel-caption span { font-size: 18px;color: #333;text-shadow: none;font-family: 'neotechalt-bold';display: block;}
.carousel-caption p { font-size: 20px;text-shadow: none;font-style: italic;float: left;display: inherit;max-width: 1110px;}
.carousel-caption input { display: block; border: 0;background: rgba(33, 166, 223, 0.8);padding: 8px 30px;margin: 160px 0 20px 0;-webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;}
.navbar-default .navbar-toggle .icon-bar {background-color: #FFF;}
.navbar-default .navbar-toggle {border-color: #FFF;}
.fa.fa-quote-left {font-size: 22px;margin: 0 10px 0 0;}
.fa.fa-quote-right {font-size: 22px;margin: 0px 10px 0 14px;}
.arrow-down { position: absolute;bottom: 73px;left: 0;width: 100%;text-align: center;}
.fa-angle-double-down { color: #FFF; font-size: 54px !important;}
.page-disc {height: 261px;}
.page-disc h1 {color: #FFF;font-size: 25px;margin: 59px 0 10px 0;}
.page-disc p {color: #FFF;max-width: 510px;line-height: 26px;max-height: 180px;overflow: hidden;}
.bred-crum {background: #ededed;height: 37px;}
.bred-crum li {display: inline;}
.bred-crum li a { padding: 8px 15px; font-size: 14px; color: #313131; display: inline-block; background: url(../images/bred-pic.png) left 15px no-repeat;}
.bred-crum li:first-child a { padding-left: 0;  background: none}
.section-side { padding-right: 42px;}
.section-title { color: #4491e1;font-size: 20px;margin: 30px 0 15px 0;}
.section-side ul li { list-style: none;background: url(../images/bred-pic.png) 11px 15px no-repeat;border-top: 1px solid #bbbbbb;}
.section-side ul li:first-child { border: 0;}
.section-side ul li a { color: #515151;padding: 9px 10px 9px 25px;display: block;font-size: 14px;}
.section-side .active {background: url(../images/arrow-white.png) 11px 15px no-repeat #4491E1; border: 0}
.section-side .active + li {border: 0}
.section-side .active a {color: #FFF}
.sperator-side { height: 1px; background: #b1b1b1; margin: 20px 0;}
.help-side h2 { color: #4491e1; font-size: 18px;margin: 30px 0 20px 0;}
.content { padding: 0 0 80px 0;}
.content-text p { line-height: 26px;}
.content-text p a {color: #4491E1;}
.content-text h1 {color: #4491e1;margin: 30px 0 15px 0;font-size: 20px;}
.blue-wrap { position: relative;}
.shape-text { position: relative; position: absolute; height: 0px; width: 0px; border-top: 10px solid #21A6DF; border-left: 10px solid #21A6DF; border-right: 10px solid transparent; border-bottom: 10px solid transparent; z-index: 111111111111111; left: 0; bottom: -73px;}
.pdf-button:hover { background: #3FBEF5;}
.carousel-caption input:hover {    background: rgba(37, 181, 243, 0.8);}
.menu-footer li a:hover { color: #FFF;}
.footer-button:hover {background: #505050;}
@media (max-width: 1600px) {
.carousel-caption {padding-top: 10px !important;}
.carousel-caption input {margin: 50px 0 20px 0 !important;}
}
@media (max-width: 1376px) {
.about-us { margin-left: 9%; }
.links ul li a { padding: 0 18px; }
}
@media (max-width: 1290px) {
.quiq-links { height: auto; }
}
@media (min-width: 1200px) {
.container { width: 1145px; }
}
@media (max-width: 1190px) {
.media-text { width: 84%; }
.blue-part { width: 84%; }
.callus-menu li { padding: 0px 2px; }
.carousel-caption h1 { color: #FFFFFF; font-family: 'neotechalt-bold'; text-shadow: none; font-size: 25px !important; }
.carousel-caption h4 { font-size: 18px !important;color: #4c4c4c;text-shadow: none;max-width: 690px;line-height: 34px;margin: 15px 0 11px 0;}
.carousel-caption span { font-size: 14px !important;color: #333;text-shadow: none;font-family: 'neotechalt-bold';display: block;}
.carousel-caption p { font-size: 15px !important;text-shadow: none;font-style: italic;float: left;display: inherit;max-width: 1110px;}
.carousel-caption input { display: block; border: 0;background: rgba(33, 166, 223, 0.8);padding: 8px 30px;margin: 160px 0 20px 0;-webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;font-size: 11px;}
.arrow-down { display: none;}
}
@media (max-width: 1024px) {
.carousel-caption p { font-size: 15px !important;text-shadow: none;font-style: italic;float: left;display: inherit;max-width: 1110px;}
.carousel-caption h1 { color: #FFFFFF; font-family: 'neotechalt-bold'; text-shadow: none; font-size: 25px !important; }
.carousel-caption h4 { font-size: 15px !important;color: #FFF !important;text-shadow: none;max-width: 690px;line-height: 19px !important;margin: 5px 0 11px 0 !important;    text-shadow: 0 1px 2px rgba(0, 0, 0, .6) !important;}
.carousel-caption span { font-size: 14px !important;color: #FFF !important;text-shadow: none;font-family: 'neotechalt-bold';display: block;    text-shadow: 0 1px 2px rgba(0, 0, 0, .6) !important;}
.carousel-caption input { display: block; border: 0;background: rgba(33, 166, 223, 0.8);padding: 8px 30px;margin: 30px 0 20px 0 !important;-webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;font-size: 11px;}
}
@media (max-width: 992px) {
.menu-footer li a { padding: 23px 0; }
.quiq-links { height: auto; display: inline-block; width: 100%; margin: 20px 0; }
.footer-info { margin: 0; }
.top-left { margin-right: 0; margin-top: 14px; }
.services-prag { font-size: 15px; padding: 0 22px;}
.services-title { font-size: 25px; }
.main-menu .nav > li > a { padding: 14px 30px; text-align: center; }
}
@media (max-width: 768px) {
.product-header { font-size: 14px; }
.product-header h2 { padding: 0px 0 15px 0; font-size: 25px; }
.menu-footer li a { padding: 5px 0; }
.quiq-links { height: auto; display: inline-block; width: 100%; margin: 20px 0; }
.footer-info { margin: 0; }
.css-shapes-preview { border: 0; background: #21a6df; width: 100%; left: 0; height: 140px; margin-top: 12px; padding: 17px 0 0 0; overflow: hidden; }
.right-blue { display: none; }
.shape-blue { display: none; }
.shape { display: none; }
.social-menu-wrap { background: #333; text-align: center; }
.social { float: none; padding: 0 }
.right-black { display: none; }
.why-menu-wrap { text-align: center; }
.logo-row { text-align: center; }
.callus-menu { padding: 0; margin: 19px 0; }
.pdf-button { float: none; }
.menu-row { text-align: left; background: #21A6DF;}
.slider {  }
.services-title { margin-top: 0; }
.main-menu .nav > li > a { padding: 14px 30px; text-align: left !important; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #FFF; }
.services-header { top: 14px; width: 100%; }
.callus-menu li { padding: 0px 10px; }
.optimize { padding: 100px 0 38px 52px; }
.media-text { max-height: 150px; overflow: hidden; }
.carousel-caption p { font-size: 11px !important;text-shadow: none;font-style: italic;float: left;display: inherit;max-width: 1110px;}
.carousel-caption h1 { color: #FFFFFF; font-family: 'neotechalt-bold'; text-shadow: none; font-size: 14px !important; margin-top: 0;}
.carousel-caption h4 { font-size: 12px !important;color: #FFF !important;text-shadow: none;max-width: 690px;line-height: 19px !important;margin: 5px 0 11px 0 !important;    text-shadow: 0 1px 2px rgba(0, 0, 0, .6) !important;}
.carousel-caption span { font-size: 9px !important;color: #FFF !important;text-shadow: none;font-family: 'neotechalt-bold';display: block;    text-shadow: 0 1px 2px rgba(0, 0, 0, .6) !important;}
.carousel-caption input { display: block; border: 0;background: rgba(33, 166, 223, 0.8);padding: 4px 15px !important;margin: 12px 0 9px 0 !important;-webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;font-size: 10px;}
.fa.fa-quote-left {font-size: 13px !important;}
.fa.fa-quote-right {font-size: 13px !important;}
.arrow-slider {left: 19%;}
.product-panel {padding: 0 50px;}
}
@media (max-width: 580px) {
.carousel-caption p { display: none !important;}
.services-title {font-size: 22px;}
.product-header h2 {font-size: 22px;}
}
.box-product a:hover {text-decoration: none;}

